parameters:
	level: 6
	paths:
		- src
	bootstrapFiles:
	    - dev/phpstan/constants.php
	scanFiles:
	    - dev/phpstan/functions.php
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
